<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">I think... Ehhh, you gotta job to do now</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <form ng-controller="LoginController as LoginCtrl" ng-submit="LoginCtrl.submitForm()" name="theForm">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email (uid)" name="email" ng-model="f.email" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password (lastname)" name="password" ng-model="f.password" required>
        </label>
        <div class="padding">
          <button type="submit" class="button button-block button-positive" ng-disabled="theForm.$invalid">Sign In</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
